</body>
<footer >
    <div class="footer-content">
        <h3>Healthline</h3>
        <p> We are students from Second Year at VIT Pune. 
            Our members include Varad Uttarwar, Samarth Urane, Sanaya Vaze and Ripul Handoo. 
            We have created this website, under the guidance of Prof. S.T. Patil, which is a one-stop destination for healthcare facilities.</p>
        <ul class="socials">
            <li><a href="%"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy; <a href="#">Healthline</a> </p>
    </div>
</footer>
</html>