<%- include("partials/header") -%>


<section id="about-head" class="section-p1">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIGljQb2to6-H7FNqDgJWKH_wbW7ACtTSLFQ&usqp=CAU" alt="">
    <div>
        <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIGljQb2to6-H7FNqDgJWKH_wbW7ACtTSLFQ&usqp=CAU" style="float:left"> -->
        <h2>Who are we? <br> What is Healthline?</h2>
        <p>Healthline is a consumer healthcare "super website" that provides consumer with on-demand, home delivered access to a wide range of prescription, OTC pharmaceuticals, other consumer healthcare products, comprehensive diagnostic test services, and teleconsultations thereby serving their healthcare needs.</p>

        <abbr title="">Order medicines & healthcare products online</abbr>
        
        <br><br>
        <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">Healthline offers 1 lakh+ medicines and health products across various categories through its retail partners which are apread across the country. You can simply place an order on our website and we will deliver your online medicine order in as low as 4 hours, with guaranteed delivery to you in 24-48*hrs!!</marquee>

    </div>
</section>


<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="/images/f1.jpeg" alt="">
        <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="/images/f2.jpeg" alt="">
        <h6>Online Order</h6>
    </div>
    <div class="fe-box">
        <img src="/images/f3.png" alt="">
        <h6>Save Money</h6>
    </div>
    <div class="fe-box">
        <img src="/images/f4.png" alt="">
        <h6>Promotions</h6>
    </div>
    <div class="fe-box">
        <img src="/images/f5.png" alt="">
        <h6>Happy Sell</h6>
    </div>
    <div class="fe-box">
        <img src="/images/f6.png" alt="">
        <h6>F24/7 Supprot</h6>
    </div>
</section>

<%- include("partials/footer") -%>