<%- include("partials/header"); -%>
    <section id="page-header" class="about-header">
        <h2>#Let's Talk</h2>
        <p>LEAVE A MESSAGE, We love to hear from you!</p>
    </section>

    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>Visit one of our agency locations or contact us today</h2>
            <h3>Head office</h3>
            <div>
                <li>
                    <i class="fal fa-map"></i>
                    <p>56 Glassford Street Glasgow G1 1UL NewYork</p>
                </li>
                <li>
                    <i class="fal fa-envelope"></i>
                    <p>ripulhandoo021@gmail.com</p>
                </li>
                <li>
                    <i class="fal fa-phone-alt"></i>
                    <p>9858685432</p>
                </li>
                <li>
                    <i class="fal fa-clock"></i>
                    <p>Monday To Saturday: 9:00am To 16:00 pm</p>
                </li>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.4421287934642!2d73.8660150148124!3d18.463621887442148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2ea950f616219%3A0x321bdae2cea9f064!2sVishwakarma%20Institute%20of%20Technology!5e0!3m2!1sen!2sin!4v1654334465863!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <section id="form-details">
        <form action="/contactussuccess" method="post">
            <span>LEAVE A MESSAGE</span>
            <h2>We love to here form you</h2>
            <input type="text" name="name" placeholder="Your Name">
            <input type="text" name="email" placeholder="E-mail">
            <input type="text" name="topic" placeholder="Subject">
            <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <button class="normal">Submit</button>
        </form>

        <div class="people">
            <div>
                <img src="images/1.png" alt="">
                <p><span>Varad Uttarwar </span> Senior Marketing Manager <br> Phone: + 9993 33 26 35 <br> Email: roshanthorat@gmail.com</p>
            </div>
        
            <div>
            <img src="images/2.png" alt="">
            <p><span>Samarth Urane</span> Senior Marketing Manager <br> Phone: + 9783 99 16 15 <br> Email: riteshparwal@gmail.com</p>
            </div>
            <div>
        <img src="images/3.png" alt="">
        <p><span>Sanaya Vaze</span> Senior Marketing Manager <br> Phone: + 9543 44 66 97 <br> Email: ritubari@gmail.com</p>
            </div>
</div>
    </section>

<%- include("partials/footer"); -%>

   