<%- include("partials/header"); -%>

<section id="hero">
    <h2>Buy medicines<br> and <br> other health care products</h2> <br>
    <p></p>
    <button><a href="shop.html" style="text-decoration: none;">Shop Now</a></button>
</section>

<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="/images/f1.jpeg" alt="">
        <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="/images/f2.jpeg" alt="">
        <h6>Online Order</h6>
    </div>
    <div class="fe-box">
        <img src="/images/f3.png" alt="">
        <h6>Save Money</h6>
    </div>

    <div class="fe-box">
        <img src="/images/f5.png" alt="">
        <h6>Happy Sell</h6>
    </div>
    <div class="fe-box">
        <img src="/images/f6.png" alt="">
        <h6>F24/7 Supprot</h6>
    </div>
</section>

<section id="product1" class="section-p1">
    <h2 style="color : rgb(48, 48, 209);">
        Medical and healthcare e-commerce platform </h2>
    <p style="display: flex; margin: 2vw 3.5vw 8vw; text-align: justify; font-size: 1.3vw; color :rgb(18, 18, 48)">
        Looking for an e-commerce solution where reliability and compliance don’t come at the price of customer
        convenience and evolution? Our Healthline platform checks all these boxes, without any compromise. How? We
        make your SAP or Microsoft Dynamics ERP and e-commerce work as one. This means that we can automatically
        show the data and logic you’ve built in your ERP on your web store, without duplication, disruptions, delays
        or manual synchronization. We also bring extensive expertise in medical e-commerce and its specialist
        requirements.<br><br>
        So, if you already manage all your data and logic in your ERP, you’ll not only benefit from unprecedented
        efficiency, but also from improved customer relationships through the following key benefits.</p>

    <h2>Products you may want to buy</h2>
    <p>Order now and get 25% OFF</p>

    <div class="pro-container">
        <div class="pro">
            <img src="/images/dolo.jpeg" alt="">
            <div class="des">
                <span>Apollo Pharmacy</span>
                <h5>DOLO-650</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Rs.30.77</h4>
                <form action="/mid" method="post">
                <div class="addtocart"><input name="b" type="number" id="0" value="0">
                    <input type="hidden" name="numofbt" value="0">
                    <input type="hidden" name="info" value="DOLO-650 mg, 30.77">
                    <button class="normal">Add to cart</button>
                </div></form>
            </div>
            <!-- <a href="#" class="fal fa-shopping-cart cart"></a> -->
        </div>
        <div class="pro">
            <img src="/images/evion (1).png" alt="">
            <div class="des">
                <span>Merck Pharmacy</span>
                <h5>Evion-600</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <h4>Rs.33.99</h4>
                <form action="/mid" method="post">
                <div class="addtocart"><input name="b" type="number" value="0">
                    <input type="hidden" name="numofbt" value="1">
                    <input type="hidden" name="info" value="EVION-600 mg, 33.99">
                    <button class="normal">Add to cart</button>
                </div></form>
            </div>
            <!-- <a href="#" class="fal fa-shopping-cart cart"></a> -->
        </div>
        <div class="pro">
            <img src="/images/Megafreeflex (4).png" alt="">
            <div class="des">
                <span>UNS Pharmacy</span>
                <h5>MEga FreeFlex</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <h4>Rs.250</h4>
                <form action="/mid" method="post">
                <div class="addtocart"><input name="b" type="number" value="0">
                    <input type="hidden" name="numofbt" value="2">
                    <input type="hidden" name="info" value="MEga FreeFlex, 250">
                    <button class="normal">Add to cart</button>
                </div></form>
            </div>
            <!-- <a href="#" class="fal fa-shopping-cart cart"></a> -->
        </div>
        <div class="pro">
            <img src="/images/calcimax (2).png" alt="">
            <div class="des">
                <span>Meyer Vitabiotics</span>
                <h5>Calcimax-500</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <h4>Rs.327</h4>
                <form action="/mid" method="post">
                <div class="addtocart"><input name="b" type="number" value="0">
                    <input type="hidden" name="numofbt" value="3">
                    <input type="hidden" name="info" value="Calcimax-500mg, 327">
                    <button class="normal">Add to cart</button>
                </div></form>
            </div>
            <!-- <a href="#" class="fal fa-shopping-cart cart"></a> -->
        </div>
        <div class="pro">
            <img src="/images/okacet (1).png" alt="">
            <div class="des">
                <span>Cipla</span>
                <h5>Okacet</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>

                </div>
                <h4>Rs.18.41</h4>
                <form action="/mid" method="post">
                <div class="addtocart"><input name="b" type="number" value="0">
                    <input type="hidden" name="info" value="Okacet, 18.41">
                    <input type="hidden" name="numofbt" value="4">
                    <button class="normal">Add to cart</button>
                </div></form>
            </div>
            <a href="#" class="fal fa-shopping-cart cart"></a>
        </div>
        <div class="pro">
            <img src="/images/aceclofenac.png" alt="">
            <div class="des">
                <span>TRIO</span>
                <h5>Acefen-plus</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <h4>Rs.80</h4>
                <form action="/mid" method="post">
                <div class="addtocart"><input name="b" type="number" value="0">
                    <input type="hidden" name="info" value="Acefen-plus, 80">
                    <input type="hidden" name="numofbt" value="5">
                    <button class="normal">Add to cart</button>
                </div></form>
            </div>
        </div>
        <div class="pro">
            <img src="/images/antifungal.jpg" alt="">
            <div class="des">
                <span>Abzorb</span>
                <h5>Antifungal Soap</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <h4>Rs.130</h4>
                <form action="/mid" method="post">
                <div class="addtocart"><input name="b" type="number" value="0">
                    <input type="hidden" name="info" value="Antifungal Soap, 130">
                    <input type="hidden" name="numofbt" value="6">
                    <button class="normal">Add to cart</button>
                </div></form>
            </div>

        </div>
        <div class="pro">
            <img src="/images/telma (3).png" alt="">
            <div class="des">
                <span>GlenMark</span>
                <h5>Telma-40</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <h4>Rs.254</h4>
                <form action="/mid" method="post">
                <div class="addtocart"><input name="b" type="number" value="0">
                    <input type="hidden" name="info" value="Telma-40mg, 254">
                    <input type="hidden" name="numofbt" value="7">
                    <button class="normal">Add to cart</button>
                </div></form>
            </div>
        </div>

        <div class="pro">
            <img src="/images/crocin.jpg" alt="">
            <div class="des">
                <span>Abbott India Ltd.</span>
                <h5>Crocin</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <h4>Rs.50</h4>
                <form action="/mid" method="post">
                <div class="addtocart"><input name="b" type="number" value="0">
                    <input type="hidden" name="info" value="Crocin, 50">
                    <input type="hidden" name="numofbt" value="8">
                    <button class="normal">Add to cart</button>
                </div></form>
            </div>

        </div>
        <div class="pro">
            <img src="/images/azithral.jpg" alt="">
            <div class="des">
                <span>ARC Pharmaceuticals</span>
                <h5>Azithral 500</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <h4>Rs.112</h4>
                <form action="/mid" method="post">
                    <div class="addtocart"><input name="b" type="number" value="0">
                        <input type="hidden" name="info" value="Azithral 500mg, 112">
                        <input type="hidden" name="numofbt" value="9">
                        <button class="normal">Add to cart</button>
                    </div></form>
            </div>

        </div>
        <div class="pro">
            <img src="/images/wikoryl2.jpg" alt="">
            <div class="des">
                <span>PharmaCare</span>
                <h5>Wikoryl</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <h4>Rs.60</h4>
                <form action="/mid" method="post">
                    <div class="addtocart"><input name="b" type="number" value="0">
                        <input type="hidden" name="info" value="Wikoryl, 60">
                        <input type="hidden" name="numofbt" value="10">
                        <button class="normal">Add to cart</button>
                    </div></form>
            </div>
        </div>
        <div class="pro">
            <img src="/images/combiflam2.jpg" alt="">
            <div class="des">
                <span>DM Pharmacy</span>
                <h5>Combiflam</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <h4>Rs.70</h4>
                <form action="/mid" method="post">
                    <div class="addtocart"><input name="b" type="number" value="0">
                        <input type="hidden" name="info" value="Combiflam, 70">
                        <input type="hidden" name="numofbt" value="11">
                        <button class="normal">Add to cart</button>
                    </div></form>
            </div>
        </div>
    </div>
</section>


<section id="product1" class="section-p1">
    <h2>Skin Care items</h2>
    <p>Get clearer, better skin ... with these affordables! </p>
    <div class="pro-container">
        <div class="pro">
            <img src="/images/nivea2.jpg" alt="">
            <div class="des">
                <span>Nivea</span>
                <h5>Soft Moisturizing cream</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Rs.105</h4>
                <form action="/mid" method="post">
                    <div class="addtocart"><input name="b" type="number" value="0">
                        <input type="hidden" name="info" value="Soft Moisturizing cream, 105">
                        <input type="hidden" name="numofbt" value="12">
                        <button class="normal">Add to cart</button>
                    </div></form>
            </div>

        </div>
        <div class="pro">
            <img src="/images/vaseline5.jpg" alt="">
            <div class="des">
                <span>Vaseline</span>
                <h5>Body Lotion</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <h4>Rs.90</h4>
                <form action="/mid" method="post">
                    <div class="addtocart"><input name="b" type="number" value="0">
                        <input type="hidden" name="info" value="Body Lotion, 90">
                        <input type="hidden" name="numofbt" value="13">
                        <button class="normal">Add to cart</button>
                    </div></form>
            </div>
        </div>
        <div class="pro" >
            <img src="/images/veet.jpg" alt="">
            <div class="des">
                <span>Veet</span>
                <h5>Hair Removal Cream</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Rs.200</h4>
                <form action="/mid" method="post">
                    <div class="addtocart"><input name="b" type="number" value="0">
                        <input type="hidden" name="info" value="Hair Removal Cream, 200">
                        <input type="hidden" name="numofbt" value="14">
                        <button class="normal">Add to cart</button>
                    </div></form>
            </div>

        </div>
        <div class="pro">
            <img src="/images/pears2.jpg" alt="">
            <div class="des">
                <span>Pears</span>
                <h5>Pure and Gentle Soap</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Rs.200</h4>
                <form action="/mid" method="post">
                    <div class="addtocart"><input name="b" type="number" value="0">
                        <input type="hidden" name="info" value="Pears, 200">
                        <input type="hidden" name="numofbt" value="15">
                        <button class="normal">Add to cart</button>
                    </div></form>
            </div>
        
        </div>
        <div class="pro">
            <img src="/images/himalaya.jpg" alt="">
            <div class="des">
                <span>Himalaya</span>
                <h5>Purifying Neem Face Wash</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Rs.99</h4>
                <form action="/mid" method="post">
                    <div class="addtocart"><input name="b" type="number" value="0">
                        <input type="hidden" name="info" value="Face Wash, 99">
                        <input type="hidden" name="numofbt" value="16">
                        <button class="normal">Add to cart</button>
                    </div></form>
            </div>
        </div>
        <div class="pro">
            <img src="/images/kailas.jpg" alt="">
            <div class="des">
                <span>Kailas Jeevan</span>
                <h5>Multi-purpose Ayurvedic cream</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <h4>Rs.149</h4>
                <form action="/mid" method="post">
                    <div class="addtocart"><input name="b" type="number" value="0">
                        <input type="hidden" name="info" value="Kailas Jeevan, 149">
                        <input type="hidden" name="numofbt" value="17">
                        <button class="normal">Add to cart</button>
                    </div></form>
            </div>
        </div>
        <div class="pro">
            <img src="/images/ponds.jpg" alt="">
            <div class="des">
                <span>Ponds</span>
                <h5>Cream</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Rs.499</h4>
                <form action="/mid" method="post">
                    <div class="addtocart"><input name="b" type="number" value="0">
                        <input type="hidden" name="info" value="Ponds, 499">
                        <input type="hidden" name="numofbt" value="18">
                        <button class="normal">Add to cart</button>
                    </div></form>
            </div>
        </div>
        <div class="pro">
            <img src="/images/kiskin2.png" alt="">
            <div class="des">
                <span>Intas</span>
                <h5>Kiskin ointment-20gm</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Rs.55</h4>
                <form action="/mid" method="post">
                    <div class="addtocart"><input name="b" type="number" value="0">
                        <input type="hidden" name="info" value="Intas, 55">
                        <input type="hidden" name="numofbt" value="19">
                        <button class="normal">Add to cart</button>
                    </div></form>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container pt-5 shadow">
        <div class="row">
            <div class="col-6 " style="float:left;"><img src="/images/writinghand.jpg" class="img-fluid" alt=""></div>
            <div class="col-6 " style="float:left;">
                <div class="col-12">
                    <p class="text-uppercase text-primary">Get in touch</p>
                    <h1 class="font-weight-bold ">How Can We Help?</h1>
                    <form action="/successshop" method="post">
                    <input type="text" name="name" placeholder="Your Name" class="formcon"><br>
                    <input type="text" name="email" placeholder="Your Email" class="formcon"
                        style="background-color:#f3f8fe ;"><br>
                    <input type="number" name="mono" placeholder="Enter Mobile Number" class="formcon"
                        style="background-color:#f3f8fe ;"><br>
                    <textarea name="message" placeholder="Your Message" cols="30" rows="5" class="formcon"></textarea>
                    <button type="submit" class="btn btn-primary text-white "
                        style="width: 180px; height: 50px; border-top-right-radius: 50px;border-top-left-radius: 50px;border-bottom-left-radius: 50px;border-bottom-right-radius: 50px;">Send
                        Now</button></form><br><br>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include("partials/footer"); -%>