form{
    border-style: solid;
    border-color: #7F669D;
    border-radius: 20px;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 3%;
    
}
/* body{
    
} */
